<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-feature android:name="android.hardware.camera.any" /> <!-- sometimes is better to remore this permission ,and permission will work ! -->
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:extractNativeLibs="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="s">
        <activity
            android:name=".ui.FacerecActivity"
            android:exported="false" />
        <activity
            android:name=".ui.EMVActivity"
            android:exported="false" />
        <activity
            android:name=".emv.DeviceActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.UnEnrollementActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ResultActivity"
            android:exported="false" />
        <activity
            android:name=".ui.CaptureActivity"
            android:exported="false" />
        <activity
            android:name=".ui.FidelityAccountActivity"
            android:exported="false" />
        <activity
            android:name=".ui.TokenizationMethodActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ValidateOtpActivity"
            android:exported="false" />
        <activity
            android:name=".ui.PersonalDataInputActivity"
            android:exported="false" />
        <activity
            android:name=".ui.TermConditionActivity"
            android:exported="false" />
        <activity
            android:name=".ui.WelcomeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.IdleActivity"
            android:exported="false" />
        <activity
            android:name=".ui.MainActivity"
            android:exported="false"></activity>

        <receiver
            android:name=".utilities.BootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
    </application>

</manifest>